---
import { SITE } from 'astrowind:config';
import vellocLogo from '~/assets/images/product_logo_48.png';
---

<span class="flex items-center gap-2 text-lg font-bold">
  <img
    src={vellocLogo.src}
    alt={`${SITE?.name ?? 'Site'} logo`}
    width=30
    height=30
    loading="eager"
  />
  <span>{SITE?.name}</span>
</span>
